.title-cards{
margin-top: 50px;
margin-bottom: 30px;
}

.title-cards h2{
    margin-bottom: 8px;
    
}

.card-list{
    display:flex;
    gap: 10px;
        overflow-x :scroll;

}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;

    
}

.card-list .card{
    position: relative;
}

.card-list .card p{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 5px 5px 15px black;
    text-decoration: none;
    color: white;
    
   
}

.card-list .card:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}